body {
    background-color: #446CB3;
}

* {
    font-family: 'Lato', sans-serif;
}

.white-color {
    color: white;
}

.title-margin {
    margin-bottom: 30px;
}

/* Navbar styles */

.navbar-button {
    background-color: #446CB3;
    border: 1px solid #ddd;
}
    .navbar-button:hover {
        background-color: #ddd;
        border: 1px solid #446CB3;
    }
    .navbar-button span {
        background-color: #ddd !important;
    }
        .navbar-button:hover span {
            background-color: #446CB3 !important;
        }

.nav-language-container {
    max-height: 50px;
}

.nav-language-select {
    height: auto;
    max-width: 62px;
}

/* Home styles */

.home-skyline {
    border: 3px solid white;
    margin-bottom: 40px;
}

.home-title-search {
    font-weight: 300;
    margin: 20px 0px;
    color: white;
}

.home-users-guide-text {
    margin-top: 50px;
    margin-bottom: 70px;
}
    .home-users-guide-text:hover > a {
        background-color: #ddd;
        color: #446CB3;
    }
    .home-users-guide-text > a {
        color: white;
        text-decoration: none;
        padding: 7px;
        border-radius: 5px;
    }

.home-button {
    background-color: #eee;
    color: #446CB3;
}
    .home-button:hover {
        background-color: #446CB3;
        color: white;
    }

.home-search {
    color: #446CB3;
}

/* Register styles */

.register-input > label {
    color: white;
}

.register-btn {
    background-color: #1F3A93;
    color: white;
    min-height: 70px;
    font-size: 18px;
}

    .register-btn:hover {
        background-color: rgba(31, 58, 147, 0.52);
        color: white;
    }

/* Session styles */

.login-btn {
    background-color: #1F3A93;
    color: white;
    font-size: 18px;
    margin: 20px 0px;
    height: auto;
}
    .login-btn:hover {
        background-color: rgba(31, 58, 147, 0.52);
        color: white;
    }

.hr-login {
    margin-top: 40px !important;
}

/* Profile styles */

.profile-container {
    color: white;
    text-align: center;
}

.profile-container > .row {
    padding: 0 20px;
}

.profile-modify-button {
    margin-top: 30px;
}

.profile-delete-button {
    margin-top: 30px;
}

.profile-delete-button > div > div > a {
    background-color: #DA7A7A !important;
}

.profile-delete-button > div > div > a:hover {
    background-color: rgba(218, 122, 122, 0.90) !important;
}

.profile-container > .row > div {
    padding: 20px 0;
    border-bottom: 1px solid #f8f8f8;
}

/* Filters style */

.filters-title {
    text-decoration: none;
    cursor: pointer;
}

.filters-title:hover {
    color: #446CB3 !important;
    text-decoration: none;
}

.filters-btn {
    background-color: #446CB3;
    color: white;
}

.filters-label {
    color: #777 !important;
}