body {
    background-color: #446CB3;
}

* {
    font-family: 'Lato', sans-serif;
}

.white-color {
    color: white;
}

.title-margin {
    margin-bottom: 30px;
}

/* Navbar styles */

.navbar-button {
    background-color: #446CB3;
    border: 1px solid #ddd;
}
    .navbar-button:hover {
        background-color: #ddd;
        border: 1px solid #446CB3;
    }
    .navbar-button span {
        background-color: #ddd !important;
    }
        .navbar-button:hover span {
            background-color: #446CB3 !important;
        }

.nav-language-container {
    max-height: 50px;
}

.nav-language-select {
    height: auto;
    max-width: 62px;
}

/* Home styles */

.home-skyline {
    border: 3px solid white;
    margin-bottom: 40px;
}

.home-title-search {
    font-weight: 300;
    margin: 20px 0px;
    color: white;
}

.home-users-guide-text {
    margin-top: 50px;
    margin-bottom: 70px;
}
    .home-users-guide-text:hover > a {
        background-color: #ddd;
        color: #446CB3;
    }
    .home-users-guide-text > a {
        color: white;
        text-decoration: none;
        padding: 7px;
        border-radius: 5px;
    }

.home-button {
    background-color: #eee;
    color: #446CB3;
}
    .home-button:hover {
        background-color: #446CB3;
        color: white;
    }

.home-search {
    color: #446CB3;
}

/* Register styles */

.register-input > label {
    color: white;
}

.register-btn {
    background-color: #1F3A93;
    color: white;
    min-height: 70px;
    font-size: 18px;
}

    .register-btn:hover {
        background-color: rgba(31, 58, 147, 0.52);
        color: white;
    }