body {
    background-color: #446CB3;
}

* {
    font-family: 'Lato', sans-serif;
}

.white-color {
    color: white;
}

.title-margin {
    margin-bottom: 30px;
}

/* Navbar styles */

.navbar-button {
    background-color: #446CB3;
    border: 1px solid #ddd;
}
    .navbar-button:hover {
        background-color: #ddd;
        border: 1px solid #446CB3;
    }
    .navbar-button span {
        background-color: #ddd !important;
    }
        .navbar-button:hover span {
            background-color: #446CB3 !important;
        }

.nav-language-container {
    max-height: 50px;
}

.nav-language-select {
    height: auto;
    max-width: 62px;
}

/* Home styles */

.home-skyline {
    border: 3px solid white;
    margin-bottom: 40px;
}

.home-title-search {
    font-weight: 300;
    margin: 20px 0px;
    color: white;
}

.home-users-guide-text {
    margin-top: 50px;
    margin-bottom: 70px;
}
    .home-users-guide-text:hover > a {
        background-color: #ddd;
        color: #446CB3;
    }
    .home-users-guide-text > a {
        color: white;
        text-decoration: none;
        padding: 7px;
        border-radius: 5px;
    }

.home-button {
    background-color: #eee;
    color: #446CB3;
}
    .home-button:hover {
        background-color: #446CB3;
        color: white;
    }

.home-search {
    color: #446CB3;
}

.manual > a{
    border-bottom: none !important;
    font-size: 12px;
    font-weight: bold;
    margin-left: -18px;
}

/* Register styles */

.register-input > label {
    color: white;
}

.register-btn {
    background-color: #1F3A93;
    color: white;
    min-height: 70px;
    font-size: 18px;
}

    .register-btn:hover {
        background-color: rgba(31, 58, 147, 0.52);
        color: white;
    }

/* Session styles */

.login-btn {
    background-color: #1F3A93;
    color: white;
    font-size: 18px;
    margin: 20px 0px;
    height: auto;
}
    .login-btn:hover {
        background-color: rgba(31, 58, 147, 0.52);
        color: white;
    }

.hr-login {
    margin-top: 40px !important;
}

/* Profile styles */

.profile-container {
    color: white;
    text-align: center;
}

.profile-container > .row {
    padding: 0 20px;
}

.profile-modify-button {
    margin-top: 30px;
}

.profile-delete-button {
    margin-top: 30px;
}

.profile-delete-button > div > div > a {
    background-color: #DA7A7A !important;
}

.profile-delete-button > div > div > a:hover {
    background-color: rgba(218, 122, 122, 0.90) !important;
}

.profile-container > .row > div {
    padding: 20px 0;
    border-bottom: 1px solid #f8f8f8;
}

/* Filters style */

.filters-title {
    text-decoration: none;
    cursor: pointer;
}

.filters-title:hover {
    color: #446CB3 !important;
    text-decoration: none;
}

.filters-btn {
    background-color: #446CB3;
    color: white;
}

.filters-label {
    color: #777 !important;
}

/* Event styles */

.event-container {
    background-color: #f8f8f8;
    border-radius: 10px;
}

.event-image {
    margin-top: 20px;
    width: 170px;
    height: 170px !important;
    border-radius: 50% !important;
    background-color: #446CB3;
}

.event-title {
    font-weight: bold;
    color: #777;
}

.event-permanent {
    color: green;
}

.event-type {
    font-style: italic;
    font-size: 12px;
    color: #AAA;
}

.event-link:hover {
    text-decoration: none;
}

.event-link > div:hover {
    opacity: 0.8;
}

.event-container {
    color: #777;
    text-align: center;
    margin: 30px 0;
}

.event-container > .row {
    padding: 0 30px;
}

.event-container > .row > div:first-child {
    padding: 20px 0 10px;
    color: #446CB3;
    text-align: left;
    border-top: 1px solid #446CB3;
}

.event-container > .row:last-child > div:last-child {
    border-bottom: 1px solid #446CB3;
}

.event-container > .row > div {
    padding: 0 0px 20px 0;
    border-top: none;
}

.event-performer {

}

.performer-icon {
    cursor: pointer;
    padding-left: 20px;
    color: #446CB3;
}

.performer-icon:hover {
    padding-left: 20px;
    color: #F2784B;
}

.event-add-button {
    color: white;
}

.event-add-button:hover, .event-add-button:focus {
    color: white;
}

.event-download-button {
    color: white;
}

.event-download-button:hover, .event-download-button:focus {
    color: white;
}

.event-google-button > div > div > a {
    background-color: #DA7A7A !important;
}

.event-google-button > div > div > a:hover {
    background-color: rgba(218, 122, 122, 0.90) !important;
}

.glyphicon-remove {
    color: red;
    float: right;
}

.glyphicon-edit {
    color: orange;
    float: right;
}

/* Google styles */

.google-add-button {
    margin: 20px 0;
    background-color: #446CB3;
    color: white;
}

.google-add-button:hover {
    background-color: #446CB3;
    color: white;
    opacity: 0.8;
}

#map {
    width: 100%;
    height: 300px;
}

